* {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
}

/* HEADER */
header {
    background-color: #2A384B;
}

nav {
    display: flex;

    font-size: 60%;

    color: white;
}

#titreNav {
    margin: auto 20px ;
    width: 50%;
}

#titreNav p {
    text-align: center;
}

#ulNav {
    width: 50%;
}

nav ul {
    display: flex;
    margin: auto;
}

nav li {
    list-style: none;

    margin: auto 20px;
}

nav a{
    text-decoration: none;

    color: white;
}


/* SECTION VISAGE */

#visageSection {
    background-color: #DA3644;
    color: white;
}


#contactSection div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visage img {
    width: 15%;
    height: auto;

    margin-top: 20px;
}

#contactSection h1,p {
    margin: 1vh auto;
}

/* SECTION IMAGE */
#portfolioSection {
    margin: 5% auto;
}

.h2Portfolio {
    text-align: center;
}

.imagePortfolio {
    text-align: center;
}

#portfolioSection img {
    width: 20%;

    border-radius: 5%;

    margin: 1%;
}


/* SECTION ABOUT */
#aboutSection {
    background-color: #DA3644;
    color: white;

    padding-top: 50px;
    padding-bottom: 80px;
}

.h2About {
    text-align: center;
    margin-bottom: 20px;
}

.paraAboutSection {
    display: flex;
    justify-content: space-evenly;

    margin: auto 20%;
}

.paraAboutSection p {
    width: 35%;
}


/* SECTION CONTACT */

#contactSection {
    margin: 50px auto;
}

input {
    margin-bottom: 50px;
}

input,textarea {
    border: none;
    border-bottom: solid rgba(0, 0, 0, 0.116) 1px;
}

button {
    background-color: #DA3644;
    color: white;
}


/* FOOTER */
.footer {
    background-color: #2A384B;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;

    margin: auto 20%;
    padding-top: 50px;
    padding-bottom: 80px;
}

.container>div {
    width: 30%;
}

span {
    color: rgb(55, 214, 214);
}

#footerCopy {
    background-color: #18202c;

    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
}